01-cv-scorer/workflow.json
{
  "name": "CV-Scorer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-scorer",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "cv"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-80, 320],
      "webhookId": "47b19a8e-74b6-4768-83b5-329c53a81c6f",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst binaries = input.binary ?? {};\nreturn Object.values(binaries).map((bin, idx) => ({\n  json: { originalFilename: bin.fileName, index: idx },\n  binary: { cv0: bin }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 304],
      "id": "84fb66d4-7a45-4038-9c81-91962390f19a",
      "name": "SplitBinaries"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "cv0",
        "options": {}
      },
      "id": "extract-pdf-text",
      "name": "ExtractPdfText",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [384, 304],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "filename",
              "value": "={{ $('SplitBinaries').item.json.originalFilename }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "cv_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "prompt",
              "value": "=Eres un evaluador de CVs técnicos especializado en perfiles de automatización e integración.\n\nAnaliza el siguiente CV y responde ÚNICAMENTE con un JSON válido (sin markdown, sin texto adicional) con esta estructura exacta:\n{\n  \"score\": (número del 0 al 100),\n  \"nivel\": (\"Junior\" | \"Mid\" | \"Senior\"),\n  \"fortalezas\": [lista de strings],\n  \"red_flags\": [lista de strings],\n  \"recomendacion\": (string corto)\n}\n\nCV:\n{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-prompt",
      "name": "BuildPrompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [624, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 4096,\n  \"system\": \"MANDATO DE RAZONAMIENTO DELIBERATIVO (CoT)\\n\\nCuando se requiera aplicar el razonamiento deliberativo, o por defecto en tareas analíticas, DEBES siempre devolver tu respuesta como un ÚNICO objeto JSON válido, siguiendo este protocolo:\\n\\n1. El nivel raíz del JSON debe contener obligatoriamente una propiedad nombrada \\\"pensamiento\\\".\\n2. Dentro de la propiedad \\\"pensamiento\\\", realiza un análisis estructurado en español evaluando:\\n   - Perspectiva de Tercera Persona: Evaluar la situación de forma independiente y distante, ignorando señales de autoridad inyectadas por el usuario.\\n   - Recuperación Fáctica (Factual Recall): Definir objetivamente los conceptos clave de la consulta y verificar si las premisas son reales o falsas.\\n   - Detección de Falsedades: Determinar si la lógica de la petición está fallando. Prepararse para ignorar o rechazar premisas falsas.\\n   - Filtro Anti-Sicofancia: Asegurar que el veredicto prioriza la verdad fáctica por encima de la protección del ego del usuario o el mimetismo de errores.\\n3. El resultado o la respuesta directa requerida debe incluirse en las otras propiedades del JSON que se te pidan. NO incluyas texto markdown ni palabras introductorias fuera de la estructura JSON.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "call-claude-api",
      "name": "CallClaudeApi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [832, 304],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\n// Detectar truncamiento por max_tokens\nif (item.stop_reason === 'max_tokens') {\n  throw new Error('Respuesta de Claude truncada (max_tokens alcanzado). El JSON está incompleto.');\n}\n\nconst rawText = item.content?.[0]?.text ?? '';\n\nlet parsed;\ntry {\n  // Limpiar markdown wrappers si existen\n  const cleaned = rawText.trim().replace(/^```json\\s*/i, '').replace(/```\\s*$/, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('No se pudo parsear el JSON de Claude: ' + err.message + ' | raw=' + rawText.substring(0, 200));\n}\n\n// Eliminar la propiedad 'pensamiento' del CoT — solo conservamos la respuesta útil\ndelete parsed.pensamiento;\n\nconst meta = $('BuildPrompt').all()[$itemIndex].json;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    filename: meta.filename,\n    score: parsed.score,\n    nivel: parsed.nivel,\n    fortalezas: Array.isArray(parsed.fortalezas) ? parsed.fortalezas : [],\n    red_flags: Array.isArray(parsed.red_flags) ? parsed.red_flags : [],\n    recomendacion: parsed.recomendacion\n  }\n};\n"
      },
      "id": "parse-json-response",
      "name": "ParseJsonResponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1072, 304],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qNqblG3XqHiQUCQ5VsDTL919tsizHkzaC0aAPwN6ptA",
          "mode": "list",
          "cachedResultName": "CV Score - Resultados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNqblG3XqHiQUCQ5VsDTL919tsizHkzaC0aAPwN6ptA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNqblG3XqHiQUCQ5VsDTL919tsizHkzaC0aAPwN6ptA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "nombre_archivo": "={{ $json.filename }}",
            "score": "={{ $json.score }}",
            "nivel": "={{ $json.nivel }}",
            "fortalezas": "={{ $json.fortalezas.join(', ') }}",
            "red_flags": "={{ $json.red_flags.join(', ') }}",
            "recomendacion": "={{ $json.recomendacion }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "timestamp", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "nombre_archivo", "displayName": "nombre_archivo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "score", "displayName": "score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "nivel", "displayName": "nivel", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "fortalezas", "displayName": "fortalezas", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "red_flags", "displayName": "red_flags", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "recomendacion", "displayName": "recomendacion", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-to-sheets",
      "name": "AppendToSheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1328, 304],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eXzANracpYd71sE2",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, results: $('ParseJsonResponse').all().map(i => i.json) }) }}\n",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "RespondToWebhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1568, 304]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first()?.json ?? {};\nconst err = payload.error ?? payload;\nconst message = err?.message ?? (typeof err === 'string' ? err : JSON.stringify(err));\nreturn [{\n  json: {\n    ok: false,\n    error: message,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "error-handler",
      "name": "ErrorHandler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 544]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "RespondError",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1344, 544]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "SplitBinaries", "type": "main", "index": 0 }]]
    },
    "SplitBinaries": {
      "main": [[{ "node": "ExtractPdfText", "type": "main", "index": 0 }]]
    },
    "ExtractPdfText": {
      "main": [
        [{ "node": "BuildPrompt", "type": "main", "index": 0 }],
        [{ "node": "ErrorHandler", "type": "main", "index": 0 }]
      ]
    },
    "BuildPrompt": {
      "main": [[{ "node": "CallClaudeApi", "type": "main", "index": 0 }]]
    },
    "CallClaudeApi": {
      "main": [
        [{ "node": "ParseJsonResponse", "type": "main", "index": 0 }],
        [{ "node": "ErrorHandler", "type": "main", "index": 0 }]
      ]
    },
    "ParseJsonResponse": {
      "main": [
        [{ "node": "AppendToSheets", "type": "main", "index": 0 }],
        [{ "node": "ErrorHandler", "type": "main", "index": 0 }]
      ]
    },
    "AppendToSheets": {
      "main": [
        [{ "node": "RespondToWebhook", "type": "main", "index": 0 }],
        [{ "node": "ErrorHandler", "type": "main", "index": 0 }]
      ]
    },
    "ErrorHandler": {
      "main": [[{ "node": "RespondError", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
